default:
    suites:
        default:
            contexts:
                - Aleksbrgt\Balances\Tests\Behat\GuzzleContext
                - Aleksbrgt\Balances\Tests\Behat\KernelCommandContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Aleksbrgt\Balances\Kernel
